:root{
    --bg-color: #ffffff;
    --color: #202020;

    --color-01: #AFD794;
    --color-02: #129E53;
    --color-03: #FFD326;
    --color-04: #FAAB30;

    --border: 1px solid var(--color-02);
    --border-radius: 3px;
    --shadow-01: 6px 6px 6px 0 rgba(0, 0, 0, 0.30);
    --transition: 0.5s;
}