* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

:root {
  --bg-color: #ffffff;
  --color: #202020;
  --color-01: #AFD794;
  --color-02: #129E53;
  --color-03: #FFD326;
  --color-04: #FAAB30;
  --border-01: 1px solid var(--color-01);
  --border-02: 1px solid var(--color-02);
  --border-radius: 3px;
  --shadow-01: 6px 6px 6px 0 rgba(0, 0, 0, 0.30);
  --transition: 0.5s;
}

/* @font-face {
	font-family: 'Nunito Regular';
	src: local('Nunito Regular'),url('../fonts/Nunito-Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Nunito Light';
	src: local('Nunito Light'),url('../fonts/Nunito-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Nunito Medium';
	src: local('Nunito Medium'),url('../fonts/Nunito/Nunito-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Nunito Bold';
	src: local('Nunito Bold'),url('../fonts/Nunito-Bold.ttf') format('truetype');
	font-weight:700;
} */
body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: auto;
  background-color: var(--bg-color);
  font-family: var(--font-nunito-regular);
  font-size: 14pt;
}
body header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100dvw;
  height: auto;
  font-family: var(--font-nunito-regular);
  box-shadow: var(--shadow-01);
  padding-bottom: 15px;
}
body header .topo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
  align-items: center;
  color: var(--color-02);
}
body header .topo span {
  height: 25px;
  width: auto;
  margin: 5px 0;
}
body header .topo .links {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: auto;
  justify-content: center;
  margin: 10px 0;
}
body header .topo .links a {
  text-decoration: none;
  height: 35px;
  width: auto;
  color: var(--color-02);
  margin: 0 25px;
}
body header .topo .links a svg {
  height: 35px;
  width: auto;
}
body header .topo .links a:hover {
  color: var(--color-04);
}
body header .logo {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 15;
  width: 100dvw;
  height: auto;
  align-items: center;
}
body header .logo img {
  width: 141px;
  height: 115.09px;
}
body header nav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100dvw;
  height: auto;
  margin-top: 15px;
  align-items: center;
}
body header nav ul {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: auto;
  align-items: center;
}
body header nav ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: var(--border-02);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-01);
  margin: 7px 0;
}
body header nav ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-02);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
body header nav ul li:hover {
  background-color: var(--color-02);
  box-shadow: none;
  transition: var(--transition);
}
body header nav ul li:hover a {
  color: var(--bg-color);
}
body header .linha {
  position: absolute;
  width: 100dvw;
  height: 5px;
  background-color: var(--color-01);
  bottom: 0;
}
body .search {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100dvw;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
body .search form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 40px;
}
body .search form input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 40px;
  padding-inline: 20px;
  border-radius: var(--border-radius);
  border: var(--border-01);
  box-shadow: var(--shadow-01);
}
body .search form input::placeholder {
  font-size: 14pt;
  color: var(--color-01);
}
body .search form input:focus {
  border: var(--border-02);
}
body .search form svg {
  position: absolute;
  width: 25px;
  height: auto;
  color: var(--color-01);
  top: 8px;
  right: 20px;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 10pt;
  }
  body header {
    height: 150px;
  }
  body header .topo {
    flex-direction: row;
    margin-top: 50px;
    justify-content: flex-end;
    margin-right: 0px;
    color: var(--color-02);
  }
  body header .topo span {
    margin-left: 20px;
    height: 25px;
    width: auto;
  }
  body header .topo .links {
    justify-content: flex-end;
    width: 110px;
    margin: 0 0;
  }
  body header .topo .links a {
    height: 25px;
    margin: 0 0;
    margin-right: 20px;
  }
  body header .topo .links a svg {
    height: 25px;
    width: auto;
  }
  body header .logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 15;
    width: 196.01px;
    height: 160px;
    margin-top: 50px;
    margin-left: 50px;
  }
  body header .logo img {
    width: 196.01px;
    height: 160px;
  }
  body header nav {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 34px;
  }
  body header nav ul {
    flex-direction: row;
    width: auto;
    justify-content: flex-end;
  }
  body header nav ul li {
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 0 0;
    margin-right: 20px;
    border: none;
    border-radius: none;
    box-shadow: none;
  }
  body header nav ul li a {
    text-decoration: none;
    color: var(--color-02);
  }
  body header nav ul li a:hover {
    color: var(--color-04);
  }
  body header nav ul li:hover {
    background-color: var(--bg-color);
  }
  body header .linha {
    position: absolute;
    width: 100dvw;
    height: 5px;
    background-color: var(--color-01);
    bottom: 0;
  }
  body .search {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100dvw;
    height: 50px;
    align-items: center;
    margin-top: 50px;
  }
  body .search form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 40px;
  }
  body .search form input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 40px;
    padding-inline: 20px;
    border-radius: var(--border-radius);
    border: var(--border-01);
    box-shadow: var(--shadow-01);
  }
  body .search form input::placeholder {
    font-size: 14pt;
    color: var(--color-01);
  }
  body .search form svg {
    position: absolute;
    width: 25px;
    height: auto;
    color: var(--color-01);
    top: 8px;
    right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 12pt;
  }
  body header .topo .links {
    margin-right: 100px;
  }
  body header .logo {
    margin-left: 100px;
  }
  body header nav ul {
    margin-right: 100px;
  }
}
/* @use "../../../node_modules/bootstrap/scss/bootstrap"; */

/*# sourceMappingURL=main.css.map */
